html
  head
    title!= title
  body
    table
    tr
      th  Firstname
      th  Lastname
      th  Age
        #container
      - if (youAreUsingJade)
         You are amazing
      - else
         Get on it!
         Get on it!
         Get on it!
         Get on it!		