html
  head
    title!= title
    meta(charset='utf-8')
  body
    table
    tr
      th  Firstname
      br
      th  Lastname
      br
      th  Age
        #container
      - if (youAreUsingJade)
         You are amazing
      - else
         Get on it!
         Get on it!
         Get on it!
         Get on it!		
   p Hello, #{arr}